
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <section class="jumbotron">
        <section>
            <h2 style="display: inline-block;">Reminders</h2>
            <button class="btn btn-default" style="float: right; margin: 20px 0 10px 0">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div style="clear: both;"></div>
        </section>
        <section style="background-color: white">
            <ul id="todo-table" style="list-style: none; margin: 0; padding: 0;">
                <CompleteItem />
                <li style="display: flex; border: 1px solid black">
                    <div style="flex: 1">1</div>
                    <div style="flex: 28"><span style="margin-left: 5px;">Completed</span></div>
                </li>
                <li style="display: flex">
                    <div style="border: 1px solid black; flex: 1; vertical-align: middle; text-align: center;">
                        <input type="checkbox" style="margin: 10px" />
                    </div>
                    <div style="border: 1px solid black; flex: 28;"><span style="margin-left: 5px;">Do laundry</span></div>
                </li>
            </ul>
        </section>
    </section>
</div>