.todo-header h2 {
  display: inline-block; }

.todo-header button {
  float: right;
  margin: 20px 0 10px 0; }

.todo-body {
  background-color: white; }
  .todo-body ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.todo-row {
  display: flex;
  border: 1px solid black; }

.todo-col-1 {
  flex: 1; }
  .todo-col-1.border {
    border: 1px solid black; }
  .todo-col-1 span {
    margin: 0 10px 0 10px; }
  .todo-col-1 input {
    margin: 10px; }

.todo-col-2 {
  flex: 28;
  margin-top: auto;
  margin-bottom: auto; }
  .todo-col-2 span, .todo-col-2 input, .todo-col-2 i {
    margin-left: 10px;
    display: inline-block; }
  .todo-col-2 textarea {
    margin-left: 10px;
    margin-bottom: 10px; }
  .todo-col-2 label {
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal; }
  .todo-col-2 .strike {
    text-decoration: line-through; }

.todo .text-title {
  margin-left: 5px; }

.clearboth {
  clear: both; }
