.todo {
	&-header {
		h2 {
			display: inline-block;
		}
		button {
			float: right;
			margin: 20px 0 10px 0;
		}
	}
	&-body {
		background-color: white;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}	
	}
    &-row {
        display: flex;
        border: 1px solid black;
    }

    &-col-1 {
        flex: 1;

		&.border {
			border: 1px solid black;
		}
        span {
            margin: 0 10px 0 10px;
        }
		input {
			margin: 10px;
		}
    }

    &-col-2 {
        flex: 28;
        margin-top: auto;
        margin-bottom: auto;
        span, input, i {
            margin-left: 10px;
            display: inline-block;
        }
        .strike {
            text-decoration: line-through;
        }
    }

    .text-description {
        margin-left: 5px;
    }
}

.clearboth {
	clear: both;
}